.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#000;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float:hover {
	text-decoration: none;
	color: #FFF;
  background-color:#000;
    
    animation: pulse-animation 1s;

 
  animation-iteration-count: 1;
} 

.my-float{
	margin-top:16px;
}

.pulse {
	animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
	10% {
		box-shadow: 0 0 0 0px  hsl(239, 94%, 14%);
	}
	100% {
		box-shadow: 0 0 0 20px hsla(239, 94%, 14%, 0.095)
	}
} 